# Archivos de configuración de IDE/Editor
.idea/
.vscode/

# Dependencias
node_modules

# Directorio de salida
dist/

# Archivos de log
npm-debug.log
yarn-error.log

# Archivos de entorno
.env

# Archivos de persistencia
.data

# Directorios de caché
.cache/